/* ============================== S3 CONTENT ============================== */
#sec3.container .content {
  display: inline-block;
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
}

#sec3.container .content .slide {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#sec3.container .content .slide img {
  pointer-events: none;
  width: 100%;
}

#sec3.container .content .slide .location {
  align-items: center;
  bottom: 8%;
  display: flex;
  position: absolute;
  right: 0;
}

#sec3.container .content .slide .location .map {
  height: 80px;
  margin-right: 15px;
  position: relative;
  width: 80px;
}

#sec3.container .content .slide .location .map iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#sec3.container .content .slide .location h3 {
  color: var(--white);
  font-size: 2.25rem;
  font-weight: 600;
  text-align: center;
  width: 40%;
}

/* ============================= S3 THUMBNAIL ============================= */
#sec3.container .thumbnail {
  bottom: 10%;
  display: flex;
  left: 5%;
  position: absolute;
}

#sec3.container .thumbnail a {
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(46, 60, 64, 0.4);
  display: inline-block;
  height: 80px;
  margin-left: 22px;
  overflow: hidden;
  width: 80px;
  transition: 0.3s;
}

#sec3.container .thumbnail a:hover {
  transform: translateY(-10px);
}

#sec3.container .thumbnail a img {
  height: 100%;
  pointer-events: none;
}

/* ====================================== SECTION 4 ====================================== */
#sec4.container {
  padding-bottom: 250px;
}
