/* ====================================== UNIVERSAL ====================================== */
.container {
  box-sizing: border-box;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
  padding: 80px 100px 150px;
  position: relative;
  width: 100%;
}

.button {
  align-items: center;
  background: var(--red-100);
  border-radius: 4px;
  color: var(--white);
  display: block;
  box-sizing: border-box;
  font-weight: 800;
  letter-spacing: 0.18rem;
  padding: 9px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
  width: 100%;
}

.button:hover {
  background: var(--red-dark);
}

h1.title {
  color: var(--primary-color);
  font-family: 'Ubuntu', sans-serif;
  font-size: 3.6rem;
  margin-bottom: 10px;
  text-transform: capitalize;
}

h2.title {
  color: var(--primary-color);
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  margin: auto auto 62px auto;
  padding: 20px;
  position: relative;
  text-align: center;
  text-transform: capitalize;
  width: 65%;
}

h2.title::after {
  background: var(--primary-color);
  bottom: 0;
  content: '';
  height: 4px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 100px;
}

p.desc {
  font-size: 1.25rem;
  line-height: 1.5;
}

.card-box span {
  display: none;
  visibility: hidden;
}

/* ====================================== SECTION 1 ====================================== */
/* ============================== S1 CONTENT ============================== */
#sec1.container .content {
  align-items: center;
  display: flex;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#sec1.container .content .city-logo {
  margin-right: 56px;
  width: 168px;
}

#sec1.container .content .city-logo img {
  width: 100%;
}

#sec1.container .content .desc * {
  color: var(--white);
}

#sec1.container .content .desc p {
  color: var(--grey-20);
  line-height: 1.5;
}

#sec1.container .content .desc p span {
  color: var(--grey-20);
  display: block;
}

/* ============================== S1  ARROOW ============================== */
#sec1.container .arrow {
  animation: up-down 2.5s infinite;
  bottom: 10%;
  left: 48%;
  position: absolute;
  transform: translateX(-50%);
}

#sec1.container .arrow img {
  width: 20px;
}

/* ============================ S1  BACKGROUND ============================ */
#sec1.container .bg1 {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

#sec1.container .bg1::after {
  background: var(--blue-dark-100);
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.7;
  position: absolute;
  top: 0;
  width: 100%;
}

/* ======================= ANIMATION ======================= */
@keyframes up-down {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

/* ====================================== SECTION 2 ====================================== */
/* ============================== S2 CONTENT ============================== */
#sec2.container .content > div {
  align-items: center;
  display: flex;
  justify-content: center;
}

#sec2.container .content div .map {
  height: 245px;
  margin-right: 70px;
  position: relative;
  width: 245px;
}

#sec2.container .content div .map iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#sec2.container .content div .text {
  width: 45%;
}

#sec2.container .content div .text p {
  font-size: 1.125rem;
  margin-bottom: 20px;
}

/* ============================ S2  BACKGROUND ============================ */
#sec2.container .bg {
  bottom: -10%;
  pointer-events: none;
  position: absolute;
  right: 0;
  width: 20%;
  z-index: -1;
}

#sec2.container .bg img {
  pointer-events: none;
  width: 100%;
}

/* ====================================== SECTION 3 ====================================== */
#sec3.container {
  height: 100vh;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

#sec3.container .slides {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
  display: none;
}

#sec3.container .slides > div {
  position: relative;
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  height: 100vh;
  background: silver;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  overflow: hidden;
}

#sec3.container .slides div img {
  height: 100%;
  pointer-events: none;
}

#sec3.container .slides div .location {
  align-items: center;
  bottom: 5%;
  display: flex;
  position: absolute;
  right: 0;
}

#sec3.container .slides div .location .map {
  height: 80px;
  margin-right: 20px;
  overflow: hidden;
  position: relative;
  width: 80px;
}

#sec3.container .slides div .location .map iframe {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

#sec3.container .slides div .location h3 {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
  width: 50%;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  padding-right: 5px;
}

#sec3.container .thumb {
  bottom: 5%;
  left: 5%;
  position: absolute;
}

#sec3.container .thumb > a {
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
  display: inline-flex;
  height: 60px;
  justify-content: center;
  margin-right: 10px;
  overflow: hidden;
  position: relative;
  width: 60px;
  transition-duration: 0.1s;
}

#sec3.container .thumb > a:hover {
  /* border: 5px solid white; */
  transform: scale(1.1);
  /* height: 65px;
  width: 65px; */
}

#sec3.container .thumb a img {
  height: 100%;
  pointer-events: none;
}

/* ============================== S4 CONTENT ============================== */

#sec4.container .content .card-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 80%;
}

#sec4.container .content .card-box .card {
  border-radius: 20px;
  box-sizing: border-box;
  display: block;
  height: 400px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: 0.4s;
  width: 30%;
}

#sec4.container .content .card-box .card:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
}

#sec4.container .content .card-box .card .img-box {
  border-radius: 20px;
  box-shadow: 0px 0px 16px rgba(46, 60, 64, 0.4);
  height: 300px;
  margin: auto;
  margin-bottom: 25px;
  overflow: hidden;
  position: relative;
  transition: 0.4s;
  width: 100%;
}

#sec4.container .content .card-box .card:hover .img-box {
  height: 150px;
}

#sec4.container .content .card-box .card .img-box img {
  height: 100%;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
}

#sec4.container .content .card-box .card h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

#sec4.container .content .card-box .card .detail p:first-child {
  color: var(--grey-60);
  margin-bottom: 1rem;
  text-align: left;
}

/* ============================ S4  BACKGROUND ============================ */
#sec4 .bg {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 15%;
  z-index: -1;
}

#sec4 .bg img {
  pointer-events: none;
  width: 100%;
}

/* ====================================== SECTION 5 ====================================== */
#sec5.container {
  padding-top: 0;
}

/* ============================== S5 CONTENT ============================== */
#sec5.container .content .card-box {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
}

#sec5.container .content .card-box .card {
  background: var(--white);
  border-radius: 16px;
  box-shadow: 0px 0px 16px rgba(46, 60, 64, 0.4);
  overflow: hidden;
  transition: 0.3s;
  width: 30%;
}

#sec5.container .content .card-box .card:hover {
  transform: translateY(-20px);
}

#sec5.container .content .card-box .card .img-box {
  height: 280px;
  margin-bottom: 8px;
  position: relative;
  width: 100%;
}

#sec5.container .content .card-box .card .img-box img {
  height: 100%;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
}

#sec5.container .content .card-box .card .detail h3 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 11px;
}

#sec5.container .content .card-box .card .detail p {
  color: var(--grey-60);
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 23px;
}

#sec5.container .content .card-box .card .detail .bot {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#sec5.container .content .card-box .card .detail .bot h4 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
}

#sec5.container .content .card-box .card .bot a {
  width: auto;
}

#sec5.container .content .card-box .card .detail {
  box-sizing: border-box;
  padding: 24px;
}

/* ============================ S5  BACKGROUND ============================ */
#sec5.container .bg {
  bottom: -5%;
  position: absolute;
  right: 0;
  width: 40%;
  z-index: -1;
}

#sec5.container .bg img {
  width: 100%;
}

/* ===================================== RESPONSIVE ===================================== */
/* ================================= TABLET ================================= */
@media screen and (max-width: 768px) {
  /* ======================= UNIVERSAL ======================= */
  .container {
    padding: 80px 50px 50px;
  }

  h1.title {
    font-size: 3.2rem;
  }

  h2.title {
    width: 75%;
  }

  .card-box span {
    display: block;
  }

  /* ======================= SECTION 2 ======================= */
  #sec2.container {
    min-height: auto;
    padding-bottom: 220px;
  }

  #sec2.container .bg {
    bottom: -5%;
    width: 25%;
  }

  /* ======================= SECTION 3 ======================= */
  #sec3.container .slides > div {
    width: auto;
  }

  #sec3.container .slides div .location {
    display: none;
  }

  #sec3.container .thumb > a:first-child {
    display: none;
  }

  /* ======================= SECTION 4 ======================= */
  #sec4.container {
    padding: 80px 0 200px;
    min-height: auto;
  }

  #sec4.container .content .card-box {
    box-sizing: border-box;
    flex-wrap: nowrap;
    justify-content: start;
    overflow-x: auto;
    padding: 50px;
    width: 100%;
  }

  #sec4.container .content .card-box::-webkit-scrollbar {
    display: none;
  }

  #sec4.container .content .card-box .card {
    flex-shrink: 0;
    height: auto;
    margin-right: 30px;
    width: 40%;
  }

  #sec4.container .content .card-box .card:nth-child(3) {
    margin-right: 0;
  }

  #sec4.container .content .card-box .card:hover .img-box {
    height: 300px;
  }

  #sec4.container .content .card-box .card h3 {
    margin-bottom: 0;
  }

  #sec4.container .content .card-box .card .detail {
    display: none;
  }

  #sec4 .bg {
    width: 25%;
  }

  /* ======================= SECTION 5 ======================= */
  #sec5.container {
    padding: 20px 0 200px;
    min-height: auto;
  }

  #sec5.container .content .card-box {
    box-sizing: border-box;
    flex-wrap: nowrap;
    justify-content: start;
    overflow-x: auto;
    padding: 50px;
    width: 100%;
  }

  #sec5.container .content .card-box::-webkit-scrollbar {
    display: none;
  }

  #sec5.container .content .card-box .card {
    flex-shrink: 0;
    height: auto;
    margin-right: 30px;
    width: 45%;
  }

  #sec5.container .content .card-box .card:nth-child(3) {
    margin-right: 0;
  }
}

/* ================================= MOBILE ================================= */
@media screen and (max-width: 426px) {
  /* ======================= UNIVERSAL ======================= */
  .container,
  #sec2.container {
    padding: 80px 35px 50px;
  }

  .button {
    font-size: 0.875rem;
    padding: 14px 30px;
  }

  h1.title {
    font-size: 2.25rem;
  }

  h2.title {
    font-size: 1.5rem;
    margin-bottom: 30px;
    padding: 20px 0;
    width: 100%;
  }

  p.desc {
    font-size: 1.125rem;
  }

  /* ======================= SECTION 1 ======================= */
  #sec1.container .content {
    flex-flow: column;
    text-align: center;
  }

  #sec1.container .content .city-logo {
    margin-right: 0;
  }

  /* ======================= SECTION 2 ======================= */
  #sec2.container .content > div {
    flex-flow: column;
  }

  #sec2.container .content div .map {
    margin: 0 auto 30px;
  }

  #sec2.container .content div .text {
    width: 100%;
  }

  #sec2.container .bg {
    display: none;
  }

  /* ======================= SECTION 4 ======================= */
  #sec4.container .content .card-box,
  #sec5.container .content .card-box {
    padding: 0 35px 35px;
  }

  #sec4.container .content .card-box .card {
    width: 85%;
  }

  #sec4 .bg {
    width: 45%;
  }

  /* ======================= SECTION 5 ======================= */
  #sec5.container {
    padding: 0 0 50px;
  }

  #sec5.container .content .card-box .card {
    width: 90%;
  }

  #sec5.container .bg {
    width: 70%;
  }
}
