/* ====================================== UNIVERSAL ====================================== */
.container {
  box-sizing: border-box;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
  padding: 80px 100px 50px;
  position: relative;
  width: 100%;
}

h1.title {
  color: #ee6a51;
  font-family: 'Ubuntu', sans-serif;
  font-size: 5rem;
  margin-bottom: 20px;
  text-transform: capitalize;
}

/* ====================================== SECTION 1 ====================================== */
#sec1.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#sec1.container>div {
  width: 50%;
}

/* =============================== S1  LEFT =============================== */
/* #sec1.container .left {
  margin-right: 41px;
} */

#sec1.container .left .img-box {
  width: 80%;
  margin-left: auto;
}

#sec1.container .left .img-box img {
  width: 80%;
}

/* =============================== S1 RIGHT =============================== */
#sec1.container .right h2 {
  font-size: 3rem;
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 20px;
}

#sec1.container .right a {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

#sec1.container .right a span {
  color: var(--blue);
  margin-right: 15px;
}

#sec1.container .right a .icon-box {
  width: 16px;
}

#sec1.container .right a .icon-box img {
  width: 80%;
}

/* ===================================== RESPONSIVE ===================================== */
/* ================================= TABLET ================================= */
@media screen and (max-width: 768px) {

  /* ======================= UNIVERSAL ======================= */
  .container,
  #sec4.container {
    padding: 80px 50px 50px;
  }

  h1.title {
    font-size: 6rem;
    text-align: center;
  }

  /* ======================= SECTION 1 ======================= */
  #sec1.container {
    flex-flow: column;
  }

  #sec1.container>div {
    width: 70%;
  }

  #sec1.container .left {
    margin-right: 0;
  }

  #sec1.container .left .img-box {
    margin-left: 0;
    width: 100%;
  }
}

/* ================================= MOBILE ================================= */
@media screen and (max-width: 426px) {

  /* ======================= UNIVERSAL ======================= */
  .container {
    padding: 80px 35px 50px;
  }

  h1.title {
    font-size: 5rem;
  }

  /* ======================= SECTION 1 ======================= */
  #sec1.container>div {
    width: 100%;
  }

  #sec1.container .right h2 {
    font-size: 3rem;
  }
}