/* ======================================= LOADER ======================================= */
.loader-container {
  align-items: center;
  background: var(--blue);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.loader-container.complete {
  animation: doneLoading 0.2s forwards;
}

.loader-container .loader {
  height: 104px;
  position: relative;
  width: 104px;
}

.loader-container .loader span {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(calc(18deg * var(--i)));
  width: 100%;
}

.loader-container .loader span::before {
  animation: animate 2s linear infinite;
  animation-delay: calc(0.1s * var(--i));
  background: var(--white);
  border-radius: 50%;
  content: '';
  height: 15px;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
}

.loader-container .loader .icon {
  animation: rotating 2s linear infinite;
  animation-delay: -1s;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.loader-container .loader .icon::before {
  content: url('../img/icon/ic_plane.svg');
  height: 30px;
  left: 85px;
  position: absolute;
  top: 80px;
  transform: rotate(118deg);
  width: 50px;
}

/* ============================== ANIMATIONS ============================== */
@keyframes doneLoading {
  0% {
    opacity: 1;
  }
  99% {
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-200%);
  }
}

@keyframes animate {
  0% {
    transform: scale(0);
  }

  10% {
    transform: scale(1);
  }

  60%,
  100% {
    transform: scale(0);
  }
}

@keyframes rotating {
  0% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(370deg);
  }
}
