/* ====================================== UNIVERSAL ====================================== */
*,
*:before,
*:after {
  box-sizing: border-box;
}

.play {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.play.delay1 {
  animation-delay: 0.25s;
}

.play.delay2 {
  animation-delay: 0.5s;
}

.play.delay3 {
  animation-delay: 0.75s;
}

.play.delay4 {
  animation-delay: 1s;
}

.hidden {
  opacity: 0;
}

/* ======================================= FADE IN ======================================= */
.play.fadeIn {
  animation-name: fadeIn;
}

.play.fadeInUp {
  animation-name: fadeInUp;
}

.play.fadeInRight {
  animation-name: fadeInRight;
}

.play.fadeInDown {
  animation-name: fadeInDown;
}

.play.fadeInLeft {
  animation-name: fadeInLeft;
}

/* ============================== ANIMATION ============================== */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* ======================================== FLIP ======================================== */
.play.flip {
  animation-name: flip;
  backface-visibility: visible !important;
}

@keyframes flip {
  0% {
    opacity: 0;
    transform: perspective(400px) rotateY(-90deg);
  }

  100% {
    opacity: 1;
    transform: perspective(400px) rotateY(0deg);
  }
}
